<br><br><hr>
<h1> Appointment Details<h1>
<hr>
<h3> <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> </h3>
<h4> Date and Time: <%= @appointment.appointment_datetime %> </h4>

